<form action="http://search.freefind.com/find.html" method="GET" target="_self" class="black-text">
    <div class="input-field">
        <input type="hidden" name="si" value="79081782">
        <input type="hidden" name="pid" value="r">
        <input type="hidden" name="n" value="0">
        <input type="hidden" name="_charset_" value="">
        <input type="hidden" name="bcd" value="&#247;">
        <input id="search" type="text" name="query" size="15" required  placeholder="Pesquise Aqui">
    </div>
</form>