<nav class="white primary-color-text nav-extended">
    <div class="nav-wrapper">
        <div class="container">
            <a href="#searchModal" class="modal-trigger primary-color-text left">
                <i class="fas fa-lg fa-search"></i>
            </a>
            
            <a href="/" class="brand-logo center">
                {% include nav/ManingTechLogotipo.svg %}
            </a>

            <ul class="right">
                {% include social.html %}
            </ul>
        </div>
    </div>
</nav>