<div id="sobre" class="modal">
    <section class="modal-content">
        <div class="container">
            <div class="row">
                <div class="center">
                    <img src="{{ site.image }}" alt="{{ site.title }}">
                </div>
                <div class="col s12">
                    <p class="thin" title="Sobre">
                        Somos um grupo de estudantes interessados no desenvolvimento web e sua respectiva inovação.
                        Informar e qualificar é o nosso objectivo.
                        Somos qualificados no desenvolvimento front-end e no uso dos frameworks mais conhecidos no mundo web.
                        Seja estudante ou empregador, e tem interesse em desenvolver ou ter uma pagina web propria contacte-nos.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="modal-footer">
        {% include social-contacts.html %}
    </div>
</div>