<div class="fixed-action-btn">
    <a class="btn-floating btn-large">
        <i class="fas fa-share-alt"></i>
    </a>

    <ul class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <li>
            <a class="a2a_button_facebook"></a>
        </li>
        <li>
            <a class="a2a_button_twitter"></a>
        </li>
        <li>
            <a class="a2a_button_facebook_messenger"></a>
        </li>
        <li>
            <a class="a2a_button_whatsapp"></a>
        </li>
    </ul>
</div>