<!-- start of freefind search box html -->
<form action="http://search.freefind.com/find.html" method="get" accept-charset="utf-8" target="_self">
	<div class="input-field">
        <input type="hidden" name="si" value="85055926">
        <input type="hidden" name="pid" value="r">
        <input type="hidden" name="n" value="0">
        <input type="hidden" name="_charset_" value="utf-8">
        <input type="hidden" name="lang" value="pt">
        <input type="text" name="query" size="15">
        <label for="search"><i class="fa fa-search"></i></label>
    </div>
</form>
<!-- end of freefind search box html -->
