<footer class="page-footer center">
    <div class="container">
        <div class="row">
            <div class="col s12 l4">
                <h5>Quem Somos</h5>
                <p class="light">
                    Somos um grupo de estudantes interessados no desenvolvimento web e sua respectiva inovação.
                    Informar e qualificar é o nosso objectivo.
                    Somos qualificados no desenvolvimento front-end e no uso dos frameworks mais conhecidos no mundo web.
                    Seja estudante ou empregador, e tem interesse em desenvolver ou ter uma pagina web propria contacte-nos.
                </p>
            </div>

            <div class="col s12 l4">
                <h5>Siga-nos</h5>
                <ul class="inline-list">
                    {% include social.html %}
                </ul>
            </div>

            <div class="col s12 l4">
                <form action="">
                    <div class="input-field">
                        <input type="text" placeholder="Newsletter">
                    </div>
                    <button type="submit" class="btn waves-effect waves-light">Subscreva-se</button>
                </form>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <h6>&copy; 2015-{{ site.time | date: "%Y" }} Todos Direitos Reservados | {{ site.title }} - {{ site.description }}</h6>
    </div>
</footer>