<footer class="page-footer white-text">
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                {% include social-contacts.html %}
            </div>
            <div class="col s12 l6">
                <a href="#about" title="Quem Somos" class="modal-trigger">Quem Somos</a><br>
                <a href="#policy" class="modal-trigger" title="Políticas de Privacidade">Políticas de Privacidade</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="left">&copy;  {{ site.time | date: "%Y" }} {{ site.title }} - {{ site.description }}</div>
            <div class="right">
                Powered by <a href="https://izitag.site/" title="IZItag">IZItag</a>
            </div>
        </div>
    </div>
</footer>