<footer class="page-footer">
    <div class="container">
        <div class="row">
           <div class="col s12 l4">
               <h3>{{ site.name }}</h3>
               É uma marca registada pertencente ao grupo <br>
               <a href="http://zinenda.github.io/iztech" title="IZTech">IZTech</a>
               sob <a href="{{ site.github.url }}/license">GNU GENERAL PUBLIC LICENSE V3</a>
           </div>
            <div class="col s12 l4">
                <ul class="center inline-list">
                    <li>
                        <a href="http://facebook.com/{{ site.facebook }}" class="btn-floating btn-flat"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="http://twitter.com/{{ site.twitter }}" class="btn-floating btn-flat"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="http://plus.google.com/{{ site.google }}" class="btn-floating btn-flat"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="mailto:{{ site.email }}" class="btn-floating btn-flat"><i class="fa fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <h3 class="col s12 l4">
                Parceiros:
                <ul>
                    <li>
                        <a href="http://zinenda.github.io/prostudio" title="PROstudio">PROstudio</a>
                    </li>
                </ul>
            </h3>
        </div>
    </div>
    
    <div class="footer-copyright">
        <div class="container">
            <div class="center">
                Copyright &copy; 2016 {{ site.title }}
            </div>
        </div>
    </div>
</footer>