<div class="col s12 m6 l4">
    <article class="card hoverable center-on-small-only">
        <div class="card-image">
            <a href="{{ post.url }}" title="{{ post.title }}">
                <img src="{{ post.image }}" alt="{{ post.title }}">
            </a>
        </div>

        <div class="card-content">
            <span class="card-title">
                <a href="{{ post.url }}">
                    <strong>
                        {{ post.title }}
                    </strong>
                </a>
            </span>
            <hr>
            <a href="{{ post.url }}" class="grey-text text-darken-4">
                {{ post.content | truncatewords: 20 }}
            </a>
        </div>
    </article>
</div>