<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="Noticias, Dicas, Analises, Quem somos">
    <meta name="theme-color" content="#009688">
    <link rel="shortcut icon" href="{{ site.github.url | prepend: site.url }}/assets/img/brand/favicon.svg">
    {% seo %}
    {% if page.image %}
    <meta name="twitter:image:src" content="{{ page.image | prepend: site.github.url | prepend: site.url }}"> 
    {% endif %} 
    
    <link rel="stylesheet" href="{{ site.github.url | prepend: site.url }}/assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet'>
    <link rel="amphtml" href="{{ page.id | append:'/index.html' | prepend: site.url }}">
    
        <meta property="og:url"                content="{{ post.url | prepend: site.url }}">
        <meta property="og:site_name"           content="{{ site.name }}">
        <meta property="fb:app_id"              content="1034422419934923">
        <meta property="og:type"               content="article">
        <meta property="og:title"              content="{{ post.title }}">
        <meta property="og:description"        content="{{ post.description }}">
        <meta property="og:image"              content="{{ post.image | prepend: site.image }}">
    
    <script src="{{ site.github.url | prepend: site.url }}/assets/js/modernizr-2.8.3.min.js"></script>
</head>