<img src="{{ site.github.url | prepend: site.url }}/assets/img/autores/zinenda.png" alt="Ivo Zinenda" class="responsive-img center-block circle">
<p title="Sobre Ivo Zinenda">
    Estudante de Informática, web designer e desenvolvedor web front-end.
    Tem como ferramentas de trabalho o Ilustrator, Indesign, InkScape, Visual Studio Code.
    Amante de series como TeenWolf, The Vampire Diares, The Originals, Arrow, The Flash e muito mais.
    Seu maior foco é o desenvolvimento web client-side.
</p>

<div class="center">
    <ul class="inline-list">
        <li>
            <a href="http://fb.com/zinenda.jerk" title="Ivo Zinenda" class="btn"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
            <a href="http://twitter.com/imaz_3g" title="Ivo Zinenda" class="btn"><i class="fa fa-twitter"></i></a>
        </li>
    </ul>
</div>