{% include about.html %}

<div id="policy" class="modal">
    <div class="modal-content">
        <div class="card-panel teal white-text hoverable">
            “Este site emprega empresas exteriores para efeitos de fornecimento de publicidade.<br>
             Estes fornecedores de publicidade podem recolher e usar informações suas (mas não incluindo nome, endereço de email, morada, ou número de telefone), neste e noutros sites, para lhe exibir anúncios a produtos ou serviços do seu interesse. <br>
             Também usamos serviços de analíses de rastreamento das visitas (Analytics).”
        </div>
    </div>
</div>