<img src="{{ site.github.url | prepend: site.url }}/assets/img/autores/nadeemhussen.jpg" alt="Nadeem Hussen" class="responsive-img center-block circle">
<p title="Sobre Nadeem Hussen">
    Estudante de Informática, Design Gráfico. Photoshop e Ilustrator são seu maior foco, tanto como hobbie e profissionalmente.
    Gosta de navegar pela web e curtir series de fantasias como The Vampire Diaries e The Originals.
    Seu maior foco é o design gráfico. Criação de logotipos, cartãoes de visita e muitos mais.
</p>

<ul class="inline-list">
    <li>
        <a href="http://fb.com/nadeemhussen" title="Nadeem Facebook" class="btn"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
        <a href="http://twitter.com/" class="btn"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
        <a href="http://linkedin.com/" class="btn"><i class="fa fa-linkedin"></i></a>
    </li>
    <li>
        <a href="http://github,com" class="btn"><i class="fa fa-github"></i></a>
    </li>
    <li>
        <a href="mailto:nadeemhussen007@outlook.com" class="btn"><i class="fa fa-envelope"></i></a>
    </li>
</ul>