<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" title="{{ site.title }}" class="brand-logo">{{ site.title }}</a>
            <a href="#" class="sidenav-trigger" data-target="sideNav">
                <i class="fas fa-bars"></i>
            </a>

            <ul class="right hide-on-med-and-down">
                {% include nav.html %}
                <li>
                    {% include navbar-form.html %}
                </li>
            </ul>
        </div>
    </nav>
</div>