<div class="navbar-fixed">
    <nav class="nav-wrapper">
        <div class="container">
            <a href="/" title="{{ site.title }}" class="brand-logo">{{ site.title }}</a>
            <a href="#" data-activates="sidenav" class="button-collapse"><i class="fa fa-2x fa-bars" aria-hidden="true"></i></a>

            <ul class="right hide-on-med-and-down">
                {% include nav.html %}
            </ul>

            <ul class="side-nav" id="sidenav">
                {% include nav.html %}
            </ul>
        </div>
    </nav>
</div>

{% include navbar-form.html %}