<header class="parallax-container hide-on-small-only">
    <div class="parallax">
        <img src="{{ page.image }}" alt="{{ page.title }}">
    </div>
    <div class="container">
        <h1 class="white-text center-align" title="{{ post.title }}" style="text-shadow: 2px -2px #444;">{{ page.title }}</h1>
    </div>
</header>

<header class="hide-on-med-and-up">
    <img src="{{ page.image }}" alt="{{ page.title }}">
    <div class="container">
        <h3 class="center-align" title="{{ post.title }}">{{ page.title }}</h3>
    </div>
</header>