<section class="section">
    <section class="container">
        <section class="row">
            <div class="col s12 m6 l4">
                {% include infeed_ad.html %}
            </div>
            {% if page.title == "Destaques" %}
                {% for post in paginator.posts %}
                    {% include cards-loop.html %}
                {% endfor %}

                {% elsif page.title == "Noticias" %}
                    {% for post in site.categories.Noticias limit: 11 %}
                        {% include cards-loop.html %}
                    {% endfor %}

                {% elsif page.title == "Dicas" %}
                    {% for post in site.categories.Dicas limit: 11 %}
                        {% include cards-loop.html %}
                    {% endfor %}

                {% elsif page.title == "Análises" %}
                    {% for post in site.categories.Analises limit: 11 %}
                        {% include cards-loop.html %}
                    {% endfor %}
            {% endif %}
        </section>
    </section>
</section>