<section class="section">
    <section class="container">
        <section class="row">
            {% include infeed_ad.html %}
            {% if page.title == "Destaques" %}
                {% for post in paginator.posts %}
                    <div class="col s12 l4">
                        <div class="card medium hoverable">
                            <div class="card-image">
                                <a href="{{ post.url }}" title="{{ post.title }}">
                                    <img src="{{ post.image }}" alt="{ post.title {}}">
                                </a>
                                <span class="card-title center" style="text-shadow: 2px -2px #444;">{{ post.title }}</span>
                            </div>
                            <div class="card-content center">{{ post.content | truncetewords: 15 }}</div>
                            <div class="card-action center">
                                <a href="{{ post.url }}" title="{{ post.title }}" class="btn-flat waves-effect waves-teal">Leia Mais</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% elsif page.title == "Noticias" %}
                    {% for post in site.categories.Noticias limit: 12 %}
                        <div class="col s12 l4">
                            <div class="card medium hoverable">
                                <div class="card-image">
                                    <a href="{{ post.url }}" title="{{ post.title }}">
                                        <img src="{{ post.image }}" alt="{ post.title {}}">
                                    </a>
                                    <span class="card-title center" style="text-shadow: 2px -2px #444;">{{ post.title }}</span>
                                </div>
                                <div class="card-content center">{{ post.content | truncetewords: 15 }}</div>
                                <div class="card-action center">
                                    <a href="{{ post.url }}" title="{{ post.title }}" class="btn-flat waves-effect waves-teal">Leia Mais</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% elsif page.title == "Dicas" %}
                    {% for post in site.categories.Dicas limit: 12 %}
                        <div class="col s12 l4">
                            <div class="card medium hoverable">
                                <div class="card-image">
                                    <a href="{{ post.url }}" title="{{ post.title }}">
                                        <img src="{{ post.image }}" alt="{ post.title {}}">
                                    </a>
                                    <span class="card-title center" style="text-shadow: 2px -2px #444;">{{ post.title }}</span>
                                </div>
                                <div class="card-content center">{{ post.content | truncetewords: 15 }}</div>
                                <div class="card-action center">
                                    <a href="{{ post.url }}" title="{{ post.title }}" class="btn-flat waves-effect waves-teal">Leia Mais</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% elsif page.title == "Análises" %}
                    {% for post in site.categories.Analises limit: 12 %}
                        <div class="col s12 l4">
                            <div class="card medium hoverable">
                                <div class="card-image">
                                    <a href="{{ post.url }}" title="{{ post.title }}">
                                        <img src="{{ post.image }}" alt="{ post.title {}}">
                                    </a>
                                    <span class="card-title center" style="text-shadow: 2px -2px #444;">{{ post.title }}</span>
                                </div>
                                <div class="card-content center">{{ post.content | truncetewords: 15 }}</div>
                                <div class="card-action center">
                                    <a href="{{ post.url }}" title="{{ post.title }}" class="btn-flat waves-effect waves-teal">Leia Mais</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            {% endif %}
        </section>
    </section>
</section>