<section class="container">
    <div class="valign-wrapper">
        <h2 class="valign">ARTIGOS RECENTES</h2>
    </div>
    <hr>
    <section class="row">
        {% for post in site.posts limit: 18 %}
            <div class="col s12 l4">
                <div class="card hoverable">
                    <div class="card-image">
                        <a href="{{ post.url }}"><img src="{{ post.image }}" class="responsive-img"></a>
                    </div>
                    <div class="card-action">
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</section>