{% include googleanalytics.html %}

<script>
    var myVar;

    function myFunction() {
        myVar = setTimeout(showPage, 200);
    }

    function showPage() {
    document.getElementById("loader").style.display = "none";
    document.getElementById("content").style.display = "block";
    document.getElementById("footer").style.display = "block";
    }
</script>


<script src="{{ site.github.url | prepend: site.url }}/assets/js/jquery.min.js" defer></script>
<script src="{{ site.github.url | prepend: site.url }}/assets/js/materialize.min.js" defer></script>
<script src="{{ site.github.url | prepend: site.url }}/assets/js/main.js" defer></script>