<div class="container">
    <ul class="side-nav" id="side-nav">
        <<img src="{{ site.github.url | prepend: site.url }}/assets/img/brand/logo.png" alt="logo">
        <li>
            <a href="{{ site.github.url | prepend: site.url }}/">Página Inicial</a>
        </li>
        <li>
            <a href="{{ site.github.url | prepend: site.url }}/noticias/" title="Noticias">Noticias</a>
        </li>
        <li>
            <a href="{{ site.github.url | prepend: site.url }}/dicas/" title="Dicas">Dicas</a>
        </li>
        <li>
            <a href="{{ site.github.url | prepend: site.url }}/analises/" title="Análises">Análises</a>
        </li>
        <li>
            <a href="#sobre" class="modal-trigger" title="Quem Somos">Sobre</a>
        </li>
    </ul>
</div>