<ul class="side-nav" id="side-nav">
    <li>
        <a href="{{ site.github.url }}/"><i class="fa fa-home"></i></a>
    </li>
    <li class="search-container">
        <form>
            <div class="input-field">
                <input type="text" id="search-input" placeholder="pesquise...">
                <label for="search"><i class="fa fa-search"></i></label>
                <i class="fa fa-close"></i>
            </div>
        </form>
        <ul id="results-container"></ul>
    </li>
    <li>
        <a href="{{ site.github.url }}/noticias/" title="Noticias">Noticias</a>
    </li>
    <li>
        <a href="{{ site.github.url }}/dicas/" title="Dicas">Dicas</a>
    </li>
    <li>
        <a href="{{ site.github.url }}/analises/" title="Analíses">Analíses</a>
    </li>
    <li>
        <a href="{{ site.github.url }}/voce_sabia/" title="Você Sabia"><i class="fa fa-lightbulb-o"></i></a>
    </li>
    <li>
        <a href="#sobre" class="modal-trigger" title="Quem Somos"><i class="fa fa-users"></i></a>
    </li>
</ul>