<aside>
    <ul class="side-nav" id="sidenav">
        <img src="{{ site.image }}" alt="{{ site.title }}">
        <li>
            <a href="/">Página Inicial</a>
        </li>
        {% if page.title == "Noticias" %}
            <li class="active"><a href="/noticias/" title="Noticias" class="waves-effect waves-light">Noticias</a></li>
            {% else %}
                <li><a href="/noticias/" title="Noticias" class="waves-effect waves-light">Noticias</a></li>
        {% endif %}

        {% if page.title == "Dicas" %}
            <li class="active"><a href="/dicas/" title="Dicas" class="waves-effect waves-light">Dicas</a></li>
            {% else %}
                <li><a href="/dicas/" title="Dicas" class="waves-effect waves-light">Dicas</a></li>
        {% endif %}

        {% if page.title == "Análises" %}
            <li class="active"><a href="/analises/" title="Análises" class="waves-effect waves-light">Análises</a></li>
            {% else %}
                <li><a href="/analises/" title="Análises" class="waves-effect waves-light">Análises</a></li>
        {% endif %}
        <li>
            <a href="#sobre" class="waves-effect waves-light modal-trigger">Sobre</a>
        </li>
    </ul>
</aside>