<div class="container">
    <div class="slider">
        <ul class="slides">
            {% for post in site.posts limit:4 %}
                <li>
                    <img src="{{ site.github.url | prepend: site.url }}{{ post.image | prepend: site.github.url | prepend: site.url }}" alt="{{ post.title }}">
                    <div class="caption right-align">
                        <h4 class="teal white-text">
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </h4>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>