<div class="slider">
        <ul class="slides">
            <li>
                <img src="{{ site.github.url | prepend: site.url }}{{ site.image }}" class="responsive-img" alt="Logotipo">
                <div class="caption left-alig" style="background: teal;">
                    <a href="{{ site.github.url | prepend: site.url }}/" title="{{ site.title }}">
                        <h4 class="white-text">{{ site.title }}</h4>
                    </a>
                </div>
            </li>
            <li>
                <img src="{{ site.github.url | prepend: site.url }}/assets/img/brand/logotipo_noticias.png" alt="Logotipo noticias">
                <div class="caption right-align" style="background: teal;">
                    <a href="{{ site.github.url | prepend: site.url }}/noticias/" title="Noticias">
                        <h4 class="white-text">Noticias</h4>
                    </a>
                </div>
            </li>
            <li>
                <img src="{{ site.github.url | prepend: site.url }}/assets/img/brand/logotipo_dicas.png" alt="Logotipo dicas">
                <div class="caption center" style="background: teal;">
                    <a href="{{ site.github.url | prepend: site.url }}/dicas/ " title="Dicas">
                        <h4 class="white-text">Dicas</h4>
                    </a>
                </div>
            </li>
            <li>
                <img src="{{ site.github.url | prepend: site.url }}/assets/img/brand/logotipo_analises.png" alt="Logotipo analises">
                <div class="caption right-align" style="background: teal;">
                    <a href="{{ site.github.url | prepend: site.url }}/analises/ " title="Analises">
                        <h4 class="white-text">Analises</h4>
                    </a>
                </div>
            </li>
        </ul>
</div>