<div id="sobre" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="card">
            <div class="card-image">
                <img src="{{ site.github.url }}{{ site.image }}" alt="Logotipo de Maningtech" class="responsive-img">
            </div>
            <div class="card-content">
                <p class="light">
                    Somos um grupo de estudantes interessados no desenvolvimento web e sua respectiva inovação.
                    Informar e qualificar é o nosso objectivo.
                    Somos qualificados no desenvolvimento front-end e no uso dos frameworks mais conhecidos no mundo web.
                    Seja estudante ou empregador, e tem interesse em desenvolver ou ter uma pagina web propria visite: 
                </p>
            </div>
            <div class="card-action">
                <h6>
                    <a href="http://zinenda.github.io/iztech" title="IZTech">IZTech</a>
                </h6>
            </div>
        </div>
    </div>
</div>