<div class="center">
    <ul class="inline-list">
        <li>
            <a href="https://facebook.com/{{ site.facebook.publisher }}" class="btn-floating btn-flat waves-effect waves-circle" title="Facebook"><i class="fa fa-lg fa-facebook"></i></a>
        </li>
        <li>
            <a href="https://twitter.com/{{ site.twitter.username }}" class="btn-floating btn-flat waves-effect waves-circle" title="Twitter"><i class="fa fa-lg fa-twitter"></i></a>
        </li>
        <li>
            <a href="https://plus.google.com/{{ site.google.link }}" class="btn-floating btn-flat waves-effect waves-circle" title="Google"><i class="fa fa-lg fa-google-plus"></i></a>
        </li>
        <li>
            <a href="mailto:{{ site.email | encode_emai }}" class="btn-floating btn-flat waves-effect waves-circle" title="Email"><i class="fa fa-lg fa-envelope"></i></a>
        </li>
    </ul>
</div>