<div class="center">
    <ul class="inline-list">
        <li>
            <a href="http://facebook.com/{{ site.facebook.publisher }}" class="btn-floating btn-flat" title="Facebook"><i class="fa fa-lg fa-facebook"></i></a>
        </li>
        <li>
            <a href="http://twitter.com/{{ site.twitter.username }}" class="btn-floating btn-flat" title="Twitter"><i class="fa fa-lg fa-twitter"></i></a>
        </li>
        <li>
            <a href="http://plus.google.com/{{ site.google.link }}" class="btn-floating btn-flat" title="Google"><i class="fa fa-lg fa-google-plus"></i></a>
        </li>
        <li>
            <a href="http://mailto:{{ site.email | encode_emai }}" class="btn-floating btn-flat" title="Email"><i class="fa fa-lg fa-envelope"></i></a>
        </li>
    </ul>
</div>