@charset "UTF-8";

body {
    display: flex;
    min-height: 100vh;
    -ms-flex-direction: column;
    flex-direction: column;
    font: {
        family: 'Ubuntu', sans-serif;
        size: 100%;
    }
    overflow-x: hidden;
    color: #444;
}

main {
    flex: 1 0 auto;
}

img,
iframe,
object {
    max-width: 100%;
    height: auto;
}

footer {
    margin: 0;
}

.inline-list {
    display: inline-flex;
}

.blog {
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

    p {
        text-align: justify;
    }
}

.page-header {
    position: relative;
    height: 20vh;
    
    .page-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-shadow: 2px -2px #444;
    }

}

.cartao {
    position: relative;
    text-align: center;
    
    .center-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@import
    "animate-bottom",
    "materialize/materialize"
;