@charset "UTF-8";

body {
    display: flex;
    min-height: 100vh;
    -ms-flex-direction: column;
    flex-direction: column;
    font: {
        family: 'Ubuntu', sans-serif;
        size: 100%;
    }
    overflow-x: hidden;
    color: #444;
}

main {
    flex: 1 0 auto;
}

img,
iframe,
object {
    max-width: 100%;
    height: auto;
}

footer {
    margin: 0;
}

.inline-list {
    display: inline-flex;
}

.post-wrapper {
    margin: auto;
}

@import
    "variables",
    "animate-bottom",
    "materialize/materialize"
;