---
---

@charset "UTF-8";

@import "variables";

body {
    display: flex;
    min-height: 100vh;
    -ms-flex-direction: column;
    flex-direction: column;
    font: {
        family: 'Ubuntu', sans-serif;
        size: 100%;
    }
    overflow-x: hidden;
    color: #333;
}

main {
    flex: 1 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;

    img {
        height: 600px;
    }

    /* slideshow next and prev buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: $primary-color-dark;
        font: {
            weight: bold;
            size: 18px;
        }
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;

        &:hover {
            background-color: $primary-color-light;
        }
    }

    .next {
        right: 0;
        border-radius: 0 3px 3px 0;
    }

    .caption {
        color: #fff;
        font-weight: bold;
        text: {
            align: center;
            shadow: 2px -2px #444;
        }
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
    }

    .dot {
        cursor: pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-flex;
        transition: background-color 0.6s ease;

        &:active,
        &:hover {
            background-color: $primary-color-light;
        }
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }

    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
}

.cicle-img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.rounded-img {
    border-radius: 15px 50px;
    width: 200px;
    height: 200px;
}

footer {
    margin: 0;
}

.post-container {
    p {
        text-align: justify;
    }
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 200px;
    height: 200%;
    margin: -75px 0 0 -75px;
}

#content,
#footer {
    display: none;
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.inline-list {
    display: inline-flex;
}

.slider {
    .slides {
        .caption {
            color: #fff;
            text-shadow: 2px -2px #444;
        }
    }
}

#header-index {
    .card {
        .card-image {
            max-height: 300px;
        }
        .card-header {
            background: $primary-color;
            color: #fff;
        }
    }
}

.post-container {
    header {
        img {
            max-height: 600px;
        }
    }
}

@import "materialize/materialize";