@charset "utf-8";

/*** Colors ***/
$primary-color: #009688 !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: #00BCD4 !default;


/*** Cards ***/
$card-padding: 20px !default;
$card-bg-color: #fff !default;
$card-link-color: #006064!default;
$card-link-color-light: lighten($card-link-color, 20%) !default;



/*** Navbar ***/
$navbar-height: 64px !default;
$navbar-height-mobile: 56px !default;
$navbar-font-color: #fff !default;
$navbar-brand-font-size: 2.1rem !default;

/*** SideNav ***/
$sidenav-bg-color: #fff !default;
$sidenav-padding-right: 15px !default;
$sidenav-item-height: 64px !default;

/*** Photo Slider ***/
$slider-bg-color: color('grey', 'base') !default;
$slider-bg-color-light: color('grey', 'lighten-2') !default;
$slider-indicator-color: color('green', 'base') !default;

// Footer
$footer-bg-color: $primary-color !default;

html, body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: $link-color;
    &:hover {
       color: #CDDC39;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    color: #004D40
}

.inline-list {
    display: inline-flex;
}

@import "maningtech";