---
---

@charset "utf-8";

/*** Colors ***/
$primary-color: #009688 !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;
$link-color: #00BCD4 !default;
/*** Photo Slider ***/
$slider-bg-color: color('grey', 'base') !default;
$slider-bg-color-light: color('grey', 'lighten-2') !default;
$slider-indicator-color: color('green', 'base') !default;

// Footer
$footer-bg-color: $primary-color !default;

html, body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $primary-color;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#content {
  display: none;
}


a {
    text-decoration: none;
    color: $link-color;
    &:hover {
       color: #CDDC39;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #004D40
}

.inline-list {
    display: inline-flex;
}

.slider {
    .slides {
        .prev {
            float: left;
            padding-top: 10px;
        }
        
        .next {
            float: right;
            padding-top: 10px;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

@import 
    "materialize",
    "font-awesome"
;