<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="pt"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="pt"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="pt"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt"> <!--<![endif]-->
    {% include head.html %}
    
    <body onload="myFunction()" id="page-top" class="scrollspy">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div id="loader"></div>
        
        <div>
            {% include fb-sdk.html %}
        
            {% include header.html %}
        
            <main id="content" class="animate-bottom" style="display: none;">
                {{ content }}
            </main>
            
            <div id="footer">
                {% include footer.html %}
            </div>
            
            {% include googleanalytics.html %}
            
            {% include scripts.html %}
        </div>
    </body>
</html>