<!DOCTYPE html>
<html dir="ltr" lang="pt" manifest="{{ site.github.url | prepend: site.url }}/manifest" class="no-js">
    {% include head.html %}
    
    <body onload="myFunction()" id="page-top" class="scrollspy">
        
        <div id="loader"></div>
        
        <div id="content" class="animate-bottom" style="display: none;">
            {% include fb-sdk.html %}
        
            {% include header.html %}
        
            <main>
                {{ content }}
            </main>
            
            {% include footer.html %}
            
            {% include scripts.html %}
        </div>
    </body>
</html>