---
layout: default
---

<div class="post-wrapper container">
    <h2 title="{{ page.title }}" class="center">{{ page.title }}</h2>
    
    <img src="{{ site.github.url | prepend: site.url }}{{ page.image }}" alt="{{ page.title }}" class="responsive-img materialboxed center" data-caption="{{ page.title }}">
    <hr><br>
    <section class="row">
        <div class="col s12 l9">
            <article>
                {{ content }}
                
                {% if page.fonte %}
                    {{ page.fonte }}
                {% endif %}
                Publicado por {{ page.author }}
                {% include fb-sdk.html %}
                <script>
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                </script>
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="maning_tech" data-lang="pt" data-size="small">Tweetar</a>
                <div class="fb-like" data-href="{{ site.github.url | prepend: site.url }}{{ page.url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                <!-- Posicione esta tag onde você deseja que o botão +1 apareça. -->
                <div class="g-plusone" data-annotation="inline" data-width="300"></div>
            </article>
        </div>
        
        <div class="col s12 l3">
            <h5 class="center">Recentes</h5>
            <hr>
            <aside class="sidebar">
                {% for post in site.posts limit:3 %}
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="{{ site.github.url | prepend: site.url }}{{ post.image }}" alt="{{ post.title }}">
                        </div>
                        <div class="card-action">
                            <a href="{{ site.github.url | prepend: site.url }}{{ post.url }}" title="{{ post.title }}">
                                {{ post.title }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </aside>
        </div>
        <!-- artigos relacionados -->
        <div class="wrap row">
            <h4 class="center">Artigos Relacionados</h4>
            {% for post in site.related_posts limit:3 %}
            <article class="col s12 l4">
                <div class="card hoverable">
                        <div class="card-image">
                            <img src="{{ site.github.url | prepend: site.url }}{{ post.image }}" alt="{{ post.title }}">
                        </div>
                        <div class="card-action">
                            <a href="{{ site.github.url | prepend: site.url }}{{ post.url }}" title="{{ post.title }}">
                                {{ post.title }}
                            </a>
                        </div>
                    </div>
            </article>
            {% endfor %}
        </div>
        
    </section>
</div>