---
layout: default
---

<section class="post-layout">
    <div class="parallax-container">    
        <div class="parallax">
            <img src="{{ site.github.url | prepend: site.url }}{{ page.image }}" alt="{{ page.title }}">
        </div>
        <h1 title="{{ page.title }}" class="post-title left">{{ page.title }}</h1>
    </div>

    <div class="container">
        
        <div class="post-author">
            {% if page.author.image %}
                <div class="col s4">
                    <img src="{{ site.github.url | prepend: site.url }}{{ page.author.image }}" alt="{{ page.author }}" class="circle">
                </div>
            {% endif %}
            {% if page.author %}
                <div class="col s8">
                    <h4>Publicado por {{ page.author }}</h4>
                </div>
            {% endif %}
        </div>

        <section class="row">
            <div class="col s12 l9">
                <article>
                    {{ content }}
                    
                    {% if page.fonte %}
                        Fonte: {{ page.fonte }}
                    {% endif %}
                    <br>
                    {% include social-btn.html %}
                </article>
            </div>
            
            <div class="col s12 l3">
                <aside class="sidebar">
                    {% for post in site.posts limit:3 %}
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{{ site.github.url | prepend: site.url }}{{ post.image }}" alt="{{ post.title }}">
                            </div>
                            <div class="card-action">
                                <a href="{{ site.github.url | prepend: site.url }}{{ post.url }}" title="{{ post.title }}">
                                    {{ post.title }}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </aside>
            </div>
        </section>
    </div>
</section>
{% include fab.html %}